# Include important documentation
include README.md
include LICENSE

# Include scripts folder
recursive-include scripts *

# Include all Python files in the package
recursive-include autoxsp *

# Exclude paper_data folder and all its contents
recursive-exclude paper_data *